<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Belajar Socket.IO</title>
</head>
<body>

    <button id="alert">Alert</button>

    <script src="js/jquery-3.4.1.slim.min.js"></script>
    <script src="js/socket.io.js"></script>
    <script>
        // membuat socket ke server
        var socket = io();

        // fungsi dijalankan ketika tombl denagn id alert ditekan
        $('#alert').click(function(){
            // fungsi untuk mengirim pesan ke server
            socket.emit('alertEvent', 'Alert');
        });
    </script>
</body>
</html>